.DS_Store
.pytest_cache/
.venv/

__pycache__/
*.py[cod]
*.so

build/
dist/
*.egg-info/

outputs/*
!outputs/.gitkeep

models/sam/*
!models/sam/.gitkeep

*.MOV
*.mov
*.MP4
*.mp4
*.PNG
*.png
*.JPG
*.jpg
*.jpeg

coverage.xml
.coverage
